# Dépendances
node_modules/

# Build et Dossiers de sortie
.next/
out/
build/

# Environnement (Très important pour la sécurité des clés API)
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Système (Comme vous êtes sur Mac)
.DS_Store